numpy==1.18.1
pandas==1.1.5
psycopg2==2.8.5
spacy==2.2.4
scikit-learn==0.22.2
jupyterlab==2.2.9
matplotlib==3.3.3
folium==0.11.0
schedule==0.6.0
csvkit==1.0.5
black==20.8b1
isort==5.6.4
tqdm==4.54.1
catboost==0.24.3
python-docx==0.8.10
